﻿@model IEnumerable<SonyStore.Areas.Dashboard.Models.PhoneViewModel>

@{
    ViewBag.Title = "Index";
}

<section id="section-works" class="section appear clearfix">
    <div class="container">
        @Html.Partial("_SonyLayout")
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="wow bounceInRight text-center">
                        <div class="col-lg-6">
                            <a href="@Url.Action("Phone","Phone",new { id = item.Id })" class="thumbnail">
                                <img src="~/Content/UpLoad/xperiac4.png" />
                            </a>
                            <h4>@item.Name</h4>
                            <p>@item.Description</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/fancybox/jquery.fancybox.pack.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/functions.js"></script>
<script type="text/javascript"></script>


