﻿@model SonyStore.Areas.Dashboard.Models.PhoneViewModel

@{
    ViewBag.Title = "Phone";
}

<section id="section-works" class="section appear clearfix">
    <div class="container">
        @Html.Partial("_SonyLayout")
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="post-image">
                        <div class="post-heading">
                            <h3>@Html.DisplayFor(model => model.Name)</h3>
                        </div>
                        <img src="~/Content/UpLoad/xperiac4.png" style="width:500px; height:400px" />
                    </div>
                    <p>
                        Sony tomonidan ishlab chiqarilgan bo'lib yuqori sifatli oldiva orqa kamera tezkor
                        prossesor , tejamkor yuqori tiniqlikdagi ekran , eng quvvatli baterika
                    </p>
                </div>
                <div class="col-lg-4">
                    <aside class="right-sidebar">
                        <div class="widget">
                            <h5 class="widgetheading">Buy Now</h5>
                            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Buy Now &raquo;</a></p>
                        </div>
                        <div class="widget">
                            <h5 class="widgetheading">Batafsil</h5>
                            <ul class="cat">
                                <li><i class="icon-angle-right"></i><a href="#">Front kamera </a><span> 13 Mp</span></li>
                                <li><i class="icon-angle-right"></i><a href="#">Kamera </a><span> 21 Mp</span></li>
                                <li><i class="icon-angle-right"></i><a href="#">Baterika </a><span> 2458 Ma</span></li>
                                <li><i class="icon-angle-right"></i><a href="#">Hotira </a><span> 120 Gb</span></li>
                                <li><i class="icon-angle-right"></i><a href="#">Ekran </a><span> LCD 1880 x 1400 px</span></li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>



@*<div>
        <h4>PhoneViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Path)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Path)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

        </dl>
    </div>*@

