﻿@model SonyStore.Areas.Dashboard.Models.ResetViewModel

@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>

<div class="form-horizontal">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(w => w.Id)
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
</div>
