﻿<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/w3.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/isotope.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<div class="navbar navbar-inverse navbar-fixed-top main-menu" style="background-color: rgb(0,0,0);">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.ActionLink("Sony Store", "Index", "Home", new { area = "Dashboard" }, new { @class = "navbar-brand" })
                    <li>@Html.ActionLink("Category", "Index", "Category")</li>
                    <li>@Html.ActionLink("Phone", "Index", "Phone")</li>
                    <li>@Html.ActionLink("Role", "Index", "Role")</li>
                    <li>@Html.ActionLink("User", "Index", "User")</li>
                    <li>@Html.ActionLink("Admin Off", "Index", "home", new { area = "" }, new { @class = "navbar-right" })</li>
                </ul>
            </div>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            
        </div>
    </div>
</div>

