﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/w3")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_Header")
    <div class="container-fluid">
        <div class="row">
                <div class="container body-content">
                    @RenderBody()
                </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            var pathname = window.location.pathname;
            var patharr = pathname.split('/');
            if (patharr.length > 3) patharr.length = 3;
            pathname = patharr.join('/');
            var subElems = $("#leftMenu").find("li");
            subElems.each(function (index, el) {
               // $(el).removeClass("active");
                var aEl = $(el).find("a[href]");
                var href = aEl.attr("href");

                if (href === pathname) {
                    $(el).addClass("active");
                }
            });
        });
    </script>
</body>
</html>
