﻿@{
    ViewBag.Title = "Home Page";
}

<div class="w3-content w3-section" style="width:80%; height: 550px;">

    <img class="mySlides" src="~/Content/UpLoad/d.jpg" style="width:100%; height: 550px;" />
    <img class="mySlides" src="~/Content/UpLoad/home.jpg" style="width:100%; height: 550px;" />
    <img class="mySlides" src="~/Content/UpLoad/k.jpg" style="width:100%; height: 550px;" />
    <img class="mySlides" src="~/Content/UpLoad/l.jpg" style="width:100%; height: 550px;" />
    <img class="mySlides" src="~/Content/UpLoad/m.jpg" style="width:100%; height: 550px;" />
    <img class="mySlides" src="~/Content/UpLoad/n.jpg" style="width:100%; height: 550px;" />
    <img class="mySlides" src="~/Content/UpLoad/o.jpg" style="width:100%; height: 550px;" />

</div>

<div id="main-content">
    <div class="container">
        <div class="row">
            <div class="wow bounceInRight">
                <div class="col-lg-6">
                    <h4>Sony Mobile xperia Z3</h4>
                    <p>Sony companiyasi tomonidan ishlab chiqarilgan eng yuqori sifatli maxsulot</p>
                    <a href="#" class="thumbnail">
                        <img src="~/Content/UpLoad/Sony2017.jpg" style="width: 500px; height: 250px;" />
                    </a>
                </div>
            </div>
            <div class="wow bounceInLeft">
                <div class="col-lg-6">
                    <h4>Sony Mobile xperia Z3</h4>
                    <p>Sony companiyasi tomonidan ishlab chiqarilgan eng yuqori sifatli maxsulot</p>
                    <a href="#" class="thumbnail">
                        <img src="~/Content/UpLoad/aa.jpg" style="width: 500px; height: 250px;" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/fancybox/jquery.fancybox.pack.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/functions.js"></script>
<script type="text/javascript">
</script>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>



