﻿@model IEnumerable<SonyStore.Areas.Dashboard.Models.PhoneViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<style>
    #photo{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
        height: 180px;
    }
</style>

<button class="w3-btn w3-round-large">@Html.ActionLink("Create now", "Create")</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img id="photo" src="~/Content/PhonePhoto/@item.Path" alt="@item.Path"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <dir class="w3-btn w3-ripple">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </dir>
            <dir class="w3-btn w3-ripple w3-red">
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </dir>
            <dir class="w3-btn w3-ripple w3-yellow">
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </dir>
        </td>
    </tr>
}

</table>
