﻿@model IEnumerable<SonyStore.Areas.Dashboard.Models.RoleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button class="w3-btn w3-round-large">@Html.ActionLink("Create now", "Create")</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
